@*
    For Borrower > Create or Edit
*@

@using LibrarySystemForDemo.Web.Models.Borrowers;
@using LibrarySystemForDemo.Web.Startup


@model CreateOrEditBorrowerListViewModel;


@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Borrower/CreateOrEdit.js" asp-append-version="true"></script>
    </environment>

}

@*@{
    var today = DateTime.Now;

    ViewBag.Title = "Borrower";

}*@

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">

                        <form name="BorrowerForm" id="CreateBorrower" role="form" class="form-horizontal" method="get">

                            <div class="row">

                                <div class="form-group">

                                    <label for="BorrowDate">Date of Borrow </label>
                                    <input class="form-control" value="@Model?.BorrowDate" required id="BorrowDate" type="date" data-date-of-borrow="@Model?.BorrowDate" name="BorrowDate" />

                                    <label for="ExpectedReturnDate">Expected Date of Return </label>
                                    <input class="form-control" value="@Model?.ExpectedReturnDate" required id="ExpectedReturnDate" type="date" data-expected-date-of-return="@Model?.ExpectedReturnDate" name="ExpectedReturnDate" />


                                    <label for="studentList">Student List</label>
                                    @Html.DropDownListFor(
                                    model => model.StudentId,
                                    Model.StudentList.Select(
                                    student => new SelectListItem {
                                    Value = student.Id.ToString(),
                                    Text = student.StudentName
                                    }), "Select Student", new {@class = "form-control"})


                                    <label for="bookList">Book List</label>
                                    @Html.DropDownListFor(
                                    model => model.BookId,
                                    Model.BookList.Select(
                                    book => new SelectListItem {
                                    Value = book.Id.ToString(),
                                    Text = book.BookTitle
                                    }), "Select Book", new {@class = "form-control"})

                                   
                                         
                                    
                                    <!--  Hidden Element -->
                                    <input type="hidden" name="Id" value="@Model?.Id" />
                                    @*<input type="hidden" name="IsBorrowed" value="true" id="CreateIsBorrowed" checked />*@
                                    <!--  Hidden Element -->

                                </div>

                            </div>

                            <div class="row">

                                <button type="button" class="btn btn-default cancel-button">@L("Cancel")</button>
                                <button type="submit" class="btn btn-primary save-button">@L("Save")</button>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

