@*
    For Borrowers > Update
*@
@using LibrarySystemForDemo.Web.Models.Borrowers;
@using LibrarySystemForDemo.Web.Startup


@model CreateOrEditBorrowerListViewModel;


@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Borrower/Index.js" asp-append-version="true"></script>
    </environment>

}

@{
    var today = DateTime.Now;

    ViewBag.Title = "Update";

}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">

                        <form name="BorrowerForm" role="form" class="form-horizontal">

                            <input type="hidden" name="Id" value="@Model?.Id" />

                            <input class="form-control" hidden type="datetime-local" data-date-of-borrow="@Model?.BorrowDate" required id="BorrowDate" name="BorrowDate" value="@Model?.BorrowDate" />
                            <input class="form-control" hidden type="datetime-local" data-expected-date-of-return="@Model?.ExpectedReturnDate" required id="ExpectedReturnDate" name="ExpectedReturnDate" value="@Model?.ExpectedReturnDate" />

                            <div class="row">

                                <div class="form-group">

                                    <label for="ReturnDate">Date of Return</label>
                                    <input class="form-control" type="date" data-date-of-return="@Model?.ReturnDate" data-val ="true" id="ReturnDate" name="ReturnDate" value="@Model?.ReturnDate">

                                </div>

                            </div>

                            <div class="row">

                                <button type="button" class="btn btn-default cancel-button">@L("Cancel")</button>
                                <button type="submit" class="btn btn-primary save-button">@L("Save")</button>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

