@*
    For Students > Create or Edit
*@

@using LibrarySystemForDemo.Web.Models.Students;

@model CreateOrEditStudentViewModel;


@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Student/CreateOrEdit.js" asp-append-version="true"></script>
    </environment>
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">

                        <form name="StudentForm" role="form" class="form-horizontal">

                            <input type="hidden" name="Id" value="@Model?.Id" />

                            <div class="row">

                                <div class="form-group">

                                    <label for="studentName">Name</label>
                                    <input type="text" class="form-control" id="studentName" name="StudentName" value="@Model?.StudentName" required placeholder="Enter Student Name">

                                    <label for="studentNumber">Number</label>
                                    <input type="text" class="form-control" id="studentContactNumber" name="StudentContactNumber" value="@Model?.StudentContactNumber" required placeholder="Enter Contact Number">

                                    <label for="studentEmail">Email</label>
                                    <input type="text" class="form-control" id="studentEmail" name="StudentEmail" value="@Model?.StudentEmail" required placeholder="Enter Email">

                                    <label for="departmentList">Department List</label>
                                    @Html.DropDownListFor(
                                    x => x.DepartmentId,
                                    Model.DepartmentList.Select(
                                    d => new SelectListItem {                   /*d means Department*/
                                    Value = d.Id.ToString(),
                                    Text = d.Name
                                    }), "Select Department", new {@class = "form-control"})

                                </div>

                            </div>

                            <div class="row">

                                <button type="button" class="btn btn-default cancel-button">@L("Cancel")</button>
                                <button type="submit" class="btn btn-primary save-button">@L("Save")</button>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
